<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>Add Coupons</h2>
                    <div class="bt-option">
                        <a href="#">Home</a>
                        <a href="#">Admin</a>
                        <span>Add Coupons</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End --> 

<section class="contact-section spad">
    <div class="container mb-5 p-5">
        <div class="row border">
            <div class="col-lg-6 mt-5 text-center mx-auto mb-5">
                <div class="section-title contact-title text-center">
                    <span>This action will add a new Coupons ! </span>
                    <h2>Add Coupons</h2>
                    <div class="leave-comment mt-5 text-center mb-5">
                        <div class="section-title">
                            <form action="/admin/add_coupons" method="post">
                                <div style="text-align: start;">
                                    <span>COUPON CODE</span>
                                    <input type="text" name="couponcode" placeholder="Coupon Code" />
                                    {{!-- <span>Name</span>
                                    <input type="text" name="name" placeholder="Name" /> --}}
                                    {{!-- <span style="display: block;">Category</span> --}}
                                    {{!-- <select style="background: #151515; color: #c4c4c4; font-size: 15px; width: 20.8rem; height: 2rem;" name="category" id="">
                                        <option value="Choose">Choose...</option>
                                        <option value="Protein Powder">Protein Powder</option>
                                        <option value="Crossfit Classes">Crossfit Classes</option>
                                    </select> --}}
                                    {{!-- <br>
                                    <span>Description</span>
                                    <input type="text" name="discription" placeholder="Discription" /> --}}
                                    {{!-- <span>Price</span>
                                    <input type="number" name="price" placeholder="Price" /> --}}
                                    {{!-- <span>Discount Value</span>
                                    <input type="number" name="discountvalue" placeholder="Discount Value" /> --}}
                                    
                                    <div class="form-row">
                                        <span>Discount Value</span>
                                <div class="form-group col-md-10">
                                    <input style="background: #151515; border-radius: 0%;" type="number"
                                        class="form-control" name="discountvalue"
                                        placeholder="Discount Value">
                                </div>

                                <div class="form-group col-md-2">
                                    <input style="background: #151515; border-radius: 0%;" type="checkbox"
                                        class="form-control" name="offer" value="true" checked>
                                </div>

                            </div>

                                    <button type="submit">Submit</button> 
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
</section>